{% extends "User/User_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
        <table class="table table-striped mb30">
    <tr>
      <td colspan="4">View_Nutrition</td>
    </tr>
    <tr>
      <td width="72">Sl_no</td>
      <td width="69">Date</td>
      <td width="78">Nutrion</td>
      <td width="135">Quantity</td>
    </tr>
      {% for d in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ d[0] }}&nbsp;</td>
      <td>{{ d[2] }}&nbsp;</td>
      <td>&nbsp;{{ d[1] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}