<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1"  action="">
  <table width="171" border="1">
    <tr>
      <tH width="161">HOSPITAL </td>
    </tr>
    <tr>
      <td><a href="/adddept">Add department</a></td>
    </tr>
    <tr>
      <td><a href="/viewdept">View Department</a></td>
    </tr>
    <tr>
      <td><a href="/adstaff">Add staff</a></td>
    </tr>
    <tr>
      <td><a href="/viewtaff">View staff</a></td>
    </tr>

    <tr>
      <td><a href="/opschedule">OP Scheduling</a></td>
    </tr>
    <tr>
      <td><a href="/viewop">View Scheduling</a></td>
    </tr>
    <tr>
      <td><a href="/childreg">Child Registration</a></td>
    </tr>
    <tr>
      <td><a href="/chilldview">View child</a></td>
    </tr>
  </table>
</form>
</body>
</html>
