{% extends "Hospital/hospital index.html" %}
{% block body %}

<body>
<form action="/updatee" method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="return validate()">
  <table class="table" >
    <tr>
        <th colspan="2"><h3>STAFF </h3>
    </tr>
    <tr>
      <td width="15%">Name</td>
      <td>
        <input type="text" name="name" id="textfield"  value="{{ data[3]}}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">Date of birth</td>
      <td>
        <input type="date" name="dob" id="textfield2"  value="{{ data[4] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{% if data[5]=='male' %}
          <input type="radio" name="gender" value="male" id="RadioGroup1_0" checked="checked" />
          Male</label>
        <br />
          <input type="radio" name="gender" value="female" id="RadioGroup1_1" />
          Female</label>
          {% endif %}
        <br />
          {% if data[5]=='female' %}
          <input type="radio" name="gender" value="male" id="RadioGroup1_0"  />
          Male</label>
        <br />
          <input type="radio" name="gender" value="female" id="RadioGroup1_1" checked="checked"/>
          Female</label>
         {% endif %}
      </td>
    </tr>
    <tr>
      <td>Blood group</td>
      <td>
        <select name="bg" id="select2" class="form-control" required>

          <option value="{{ data[6] }}">{{ data[6] }}</option>
                                    <option value="select">select</option>

          <option value="O+ve">O+ve</option>
          <option value="A+ve">A+ve</option>
          <option value="B+ve">B+ve</option>
          <option value="AB+ve">AB+ve</option>
          <option value="O-ve">O-ve</option>
          <option value="A-ve">A-ve</option>
          <option value="B-ve">B-ve</option>
          <option value="AB-ve">AB-ve</option>
          
        </select>
      </td>
    </tr>
    <tr>
      <td>House name</td>
      <td>
        <input type="text" name="hname" id="textfield5" value="{{ data[7] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td>Post office</td>
      <td>
        <input type="text" name="post" id="textfield6" value="{{ data[8] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">District</td>
      <td>
        <input type="text" name="dst" id="textfield6" value="{{ data[9] }}" class="form-control" required/>
      </td>

    </tr>
    <tr>
      <td width="15%">pin </td>
      <td>
        <input type="number" name="pin" id="textfield8" value="{{ data[10] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">State</td>
      <td>
        <input type="text" name="state" id="textfield4" value="{{ data[11] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">Email</td>
      <td>
        <input type="email" name="em" id="textfield" value="{{ data[12] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">Phone</td>
      <td>
        <input type="number" name="ph" id="textfield"  value="{{ data[13] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td>
        <select name="qul" id="select3" class="form-control" required>
          <option value="{{ data[14] }}">{{ data[14] }}</option>
                       <option value="select">select</option>

          <option value="sslc">SSLC</option>
          <option value="plustwo">Plus two</option>
          <option value="degree">Degree</option>
          <option value="pg">PG</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Type</td>
      <td>
        <label for="textfield"></label>
        <select name="type" id="select4" class="form-control" required>
          <option value="{{ data[17] }}">{{ data[17] }}</option>
                        <option value="select">select</option>

          <option value="doctor">Doctor</option>
          <option value="nurse">Nurse</option>
        </select>
      </td>
    </tr>
      <tr>
      <td width="15%">Designation</td>
      <td>
        <input type="text" name="desgn"  value="{{ data[15] }}" class="form-control" required/>
      </td>
    </tr>
    <tr>
      <td width="15%">Photo</td>
      <td><input type="file" name="pic" id="fileField" value="{{ data[16] }}" class="form-control" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
</html><script type="text/javascript" language="JavaScript">
    function validate() {

         var y = document.getElementById("select3").value;
               var z = document.getElementById("select4").value;



    var x = document.getElementById("select2").value;
    if(x=='select'){
        alert('enter your blood group');
        flag=false;
    }
    else if(y=='select'){
        alert('enter your qualification');
        flag=false;
    }


    else if(document.getElementById("pin").value.length != 6) {
            window.alert("pin no is not valid")
            flag = false;
        }

        else if (document.getElementById("ph").value.length != 10) {
            window.alert("phone no is not valid")
            flag = false;
        }
        else if(z=='select'){
         alert('select the type');
         flag=false;
     }

        return flag;
    }
</script>
{% endblock %}
