{% extends "Hospital/hospital index.html" %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/searchstaff">
{% if data|length==0 %}
      <h5><b><center>Sorry No items found</center></b></h5>
  {% else %}

  <h3>STAFF DETAILS</h3>
    
  <table class="pull-right">
    
    <tr>
      <td colspan="12"><input type="text" name="name" id="textfield" class="form-control"/>
<td> <button type="submit" class="btn btn-search">
      <span class="glyphicon glyphicon-search"></span> Search
    </button><td>    </tr></table>
    <br>
    <br>
    <br>
    <table class="table table-striped mb30">
    <tr>
      <th width="1">#</th>
      <th width="46">Name</th>
      <th width="20%">Date of birth</th>
      <th width="71">Gender</th>
      <th width="75">Blood group</th>
      <th width="60">Qualification</th>
      <th width="65">Address</th>
      <th width="54">Email</th>
      <th width="58">Phone</th>
        <th width="58">Type</th>
      <th width="70">Designation</th>
      <th width="57">&nbsp;</th>
      <th width="55">&nbsp;</th>
    </tr>
    <tr>
        {% for d in data %}
        <td>{{ loop.index }}</td>
      <td><img src="{{  d[16]}}" width="70" height="50" />{{ d[3] }}</td>
      <td>{{ d[4] }}&nbsp;</td>
      <td>{{ d[5] }}&nbsp;</td>
      <td>&nbsp;{{ d[6] }}</td>
            <td>&nbsp;{{ d[14] }}</td>
      <td>{{ d[7] }}(HO)<br>{{ d[8] }}(PO)<br/>{{ d[9] }}<br/>{{ d[10]  }}<br/>{{ d[11] }}</td>
       <td>{{ d[12] }}&nbsp;</td>
      <td>{{ d[13] }}&nbsp;</td>
      <td>&nbsp;{{ d[15] }}</td>
      <td>{{ d[17] }}&nbsp;</td>
      <td><a href="/updstaff/{{ d[0] }}" class="btn btn-info">Edit</a></td>
      <td><a href="/delestaff/{{ d[0] }}" onclick="return msg()" class="btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}
  {% endif %}
  </table>
</form>
</body>
</html>
     <script type="text/javascript" language="JavaScript">
    function msg() {
        var flag=true;
         var a=confirm("wants to delete");
        if(a==true){
            flag=true;
        }
        else {
            flag=false

        }
      return flag;
    }
</script>
{% endblock %}
