<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/viewvaccdate">
 <center>
   VIEW VACCINATION DETAILS  
 </center>
 {% if data|length==0 %}
      <h5><b><center>Sorry No items found</center></b></h5>
  {% else %}
    </tr>
  <table width="580" border="1" align="center">
   
   
    <tr>
      <th colspan="5">From<input type="date" name="fd" id="textfield" />TO
      <input type="date" name="td" id="textfield2" />
      <input type="submit" name="button" id="button" value="search" />            
    </tr>
    <tr>
      <th width="18">#</td>
      <th width="129">Name      
      <th width="85">Date<th width="156">Importance</td>
    <th width="158">Details</td>      </tr>
    <tr>
        {% for d in data %}
      <td>&nbsp;{{ loop.index }}</td>
      <td>{{ d[0] }}&nbsp;</td>
      <td>&nbsp;{{ d[1] }}</td>
      <td>{{ d[2] }}&nbsp;</td>
      <td>&nbsp;{{ d[3] }}</td>
    </tr>
      {% endfor %}
  {% endif %}
  </table>
</form>
</body>
</html>
