
<form id="form1" name="form1" method="post" action="">
  <table width="350" border="1">
    <tr>
        <td><CENTER>WELCOME</CENTER></td>
    </tr>
    <tr>
        <td><center><a href="/hospital">Add hospitals Details </a></center></td>
    </tr>
	 <tr>
      <td><center><a href="/hospitalmanagement">view hospitals Details</a></center></td>
    </tr>
    <tr>
      <td><center><a href="/anganavadimanagement">Add anganavadi Details </a></center></td>
    </tr>
	<tr>
      <td><center><a href="/viewanganavadimanagement">view anganavadi Details  </a></center></td>
    </tr>
    <tr>
        <td><center><a href="healthcentremanagement">Add healthcentres Details</a></center></td>
    </tr>
	<tr>
        <td><center><a href="/viewhealthcentremanagement">view healthcentres Details</a></center></td>
    </tr>

    <tr>
        <td><center><a href="/vaccimanagement">Add vaccination Details </a></center></td>
    </tr>
	 <tr>
         <td><center><a href="/viewvaccination">view vaccination management</a></center></td>
    </tr>
    <tr>
        <td><center><a href="/snutri">schedule vaccination date</a></center></td>
    </tr>
	<tr>
        <td><center><a href="/svnutri">view schedule vaccination date</a></center></td>
    </tr>
    <tr>
        <td><center><a href="/addcalender">Add calender </a></center></td>
    </tr>
	<tr>
        <td><center><a href="/viewcalender">View calender </a></center></td>
    </tr>
    <tr>
        <td><center><a href="/addnutri">add nutrition</a></center></td>
    </tr>
	 <tr>
         <td><center><a href="/viewnutri">view added nutrition</a></center></td>
    </tr>
    <tr>
        <td><center><a href="/allocatenutritoang">allocate nutrition to anganavadi</a></center></td>
    </tr>
	 <tr>
         <td><center><a href="/viewallocatenutritoang">view allocate nutrition to anganavadi</a></center></td>
    </tr>
       <tr>
        <td><center><a href="/viewvaccinationreport">view vaccination report</a></center></td>
    </tr>
    <tr>
        <td><center><a href="/comp">view complaint</a></center></td>
    </tr>

    <tr>
        <td><center><a href="/chat">chat with user</a></center></td>
    </tr>
    <tr>
        <td><center><a href="/login">logout</a></center></td>
    </tr>
  </table>
</form>
