{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/updating">
  <table width="300" border="0" >
    <tr>
      <td>Vaccination </td>
      <td><label for="select"></label>
        <select name="select" id="select" class="form-control">
            <option value="{{ data[0] }}">{{ data[1] }}</option>
           {% for d in data1 %}
            <option value="{{ d[0] }}">{{ d[1] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><label for="textfield"></label>
      <input type="date" name="date" id="textfield" value="{{ data[2] }}" class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="update" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
           <script src="/static/jquery.min.js" ></script>

<script>
    $(document).ready(function () {
        $("#button").click(function () {
            alert('Updated.........!!!')
        });
    });
</script>

{% endblock %}