{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/uploading">
  <table width="300" border="0" >
    <tr>
      <tH colspan="2">NUTRITIONS DETAILS</td>
    </tr>
    <tr>
      <td>Name</td>
      <td><label for="textfield"></label>
      <input type="text" name="name" id="textfield"  value="{{ data[1] }}" required class="form-control"/></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><label for="textarea"></label>
      <textarea name="det" id="textarea" cols="45" rows="5" class="form-control" required>{{ data[2] }} </textarea></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><label for="textfield2"></label>
      <input type="text" name="type" id="textfield2" class="form-control" required value="{{ data[3] }}" /></td>
    </tr>
    <tr><td colspan="2"><center><input type="submit" value="UPDATE" class="btn btn-success"/></center></td>
    </tr>
  </table>
</form>
{% endblock %}
