{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/scheduleadd" onsubmit="return valid()">
    <h3>VACCINATION SCHEDULE</h3></center>
  <table class="table" >
    
   
    <tr>
      <td width="15%">Vaccination </td>
      <td>
        <select name="select" id="s1" class="form-control" required="">
        <option value="">select</option>
            {% for d in data %}
            <option value="{{ d[0] }}">{{ d[1] }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td width="15%">Date</td>
      <td>
      <input type="date" name="date" id="dt" class="form-control"/></td>
    </tr>
    <tr>
        <td></td><td><input type="submit" name="button" id="button" value="ADD" class="btn btn-success" /></td>
    </tr>
  </table>
</form>

          <script src="/static/jquery.min.js" ></script>
<script>
{#    $(document).ready(function () {#}
{#        $("#button").click(function () {#}
{#            alert('Vaccination date added.........!!!')#}
{#        });#}
{#    });#}
</script>

    <script type="text/javascript" language="JavaScript">
    function valid() {
        var flag=true;
        select = document.getElementById('s1');
{#        if (select.value) {#}
{#          flag= true;#}
{#                }#}
{#                alert('please choose')#}
{#            flag=false;#}

        if (document.getElementById("dt").value==""){
            window.alert("Please enter the date")
            flag=false
        }
        return flag;
    }
    </script>
{% endblock %}