{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1"  action="">
<center>

{#      <h5><b><center>Sorry No items found</center></b></h5>#}

  <p>VACCINATION REPORT</p>

  <table width="486" border="1" class="table table-striped mb30">

      <td><center>Date:<input type="date" name="f_date" id="f_date" />
        To:<input type="date" name="t_date" id="t_date" /><td id="h1"></td>
{#         Check:<select name="select" id="select">#}
{#              {% for d in data1 %}#}
{#              <option value="{{ d[0] }}">{{ d[1] }}</option>#}
{#              {% endfor %}#}
{#        </select></center></td>#}
  </table>
    <h4 id="item">no item found</h4>
  <p>&nbsp;</p>
</center></th>
    </tr>
  <table width="488" border="0" align="center"  id="jj" class="table table-striped mb30">
    
{#    <tr>#}
{#      <th width="29" scope="col">#</th>#}
{#      <th width="109" scope="col">Vaccination info</th>#}
{#      <th width="36" scope="col">Date</th>#}
{#      <th width="70" scope="col">Child info</th>#}
{#      <th width="48" scope="col">Type</th>#}
{#      <th width="156" scope="col">Venue</th>#}
{#    </tr>#}
{#    <tr>#}
{#        {% for d in data %}#}
{#      <td height="50">{{ loop.index }}</td>#}
{#      <td>{{ d[3] }}</td>#}
{#      <td>&nbsp;{{ d[0] }}</td>#}
{#      <td>{{ d[2] }}&nbsp;</td>#}
{#      <td>&nbsp;{{ d[1] }}</td>#}
{#      <td>&nbsp;</td>#}
{#    </tr>#}
{#      {% endfor %}#}
{#  </table>#}
{#</form>#}
    <script src="/static/jquery.min.js" ></script>
    <script>
          $("#item").hide();
    $(document).ready(function () {

            $.ajax({
                url: "/viewvaccinationreport",
                method: 'post',
                data: {},
                success: function (response) {
                    var len = response.length;

                    $("#jj").text("");

                     var c=1;
                    $("#jj").append('<th width="29"> #</th><th width="179" >vacn</th><th width="200"> date</th><th width="120">Name of child</th><th width="120">venue</th>');
                    for (i = 0; i <= len; i++) {


                        var vname = response[i]["vname"];
                        var date = response[i]["date"];
                        var cname = response[i]["cname"];
                        var venuetype = response[i]["anguname"];
                         $("#jj").append('<tr><td>' + c + '</td><td>' + vname + '</td><td>' + date + '</td><td>' + cname + '</td><td>' + venuetype + '</td><td>' )

                       c=c+1;
                    }

                },error:function (error) {

                }
            }) ;


            });

       $("#t_date").change(function () {
                    res1=$(this).val();
                    res2=$("#f_date").val();
            $.ajax({
                url: "/viewreports",
                method: 'post',
                data: {f_date:res1,t_date:res2},
                success: function (response) {
                    var len = response.length;
                    var len = response.length;
                    if (response.length==0){
                        $("#jj").text("");
                         $("#item").show();

                    }
                    else{
                    $("#jj").text("");
                    $("#jj").append('<th width="29"> #</th><th width="179" >vacn</th><th width="200"> date</th><th width="120">Name of child</th><th width="120">venue</th>');
                    for (i = 0; i <= len; i++) {

                        var vname = response[i]["vname"];
                        var date = response[i]["date"];
                        var cname = response[i]["cname"];
                        var venuetype = response[i]["venuetype"];
                         $("#jj").append('<tr><td>' + parseInt(i)+1 + '</td><td>' + vname + '</td><td>' + date + '</td><td>' + cname + '</td><td>' + venuetype + '</td><td>' )

 $("#item").hide();
                    }}

                },error:function (error) {

                }
            }) ;




    });
        </script>
  </table>
</form>
{% endblock %}