<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<center>
 CHILD DETAILS 
</center>
  <table width="1161" border="1" align="center">
                                      
    
    <tr>
      <th colspan="17">&nbsp;</td>
      &nbsp;</td>
      &nbsp;</td>
      &nbsp;</td>
Aadhar no:     &nbsp;</td>
      &nbsp;</td>
      &nbsp;</td>
      &nbsp;</td>
      &nbsp;</td>
      <input type="text" name="textfield" id="textfield" />      <input type="submit" name="button3" id="button3" value="Search" />      </tr>
    <tr>
      <tH width="8">#</td>
      <tH width="42">Name</td>
      <tH width="39">Date of birth
      <tH width="52">Blood group      
      <tH width="52">Gender      
      <tH width="52">Height
        </td>
      <tH width="54">Weight
        </td>
      <tH width="55">Father name
      <tH width="83">Mother name
      <tH> Father Info            
      <tH width="89">Address
      <tH width="70">Email            
      <tH width="62">Phone      
      <tH colspan="4">            </tr>
    <tr>
      <td height="67">&nbsp;</td>
      <td><img name="" src="" width="32" height="32" alt="" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="100">Father name<br />
        Father Occupation<br />
        Father Aadhar no</td>
      <td>house name<br />Post office<br/>District<br />State<br />Pin<br /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
        <td width="58"><a href="/update_enroll_child"><input type="button" name="button4" id="button4" value="Edit " /></a></td>
       <td><input type="button" name="button5" id="button5" value="Delete" /></td>
      <td width="115"><a href="/routinecheackupview"><input type="button" name="button2" id="button2" value="Routine Check up" /></a></td>
        <td width="123"><a href="/nutriallotomomandchild"> <input type="button" name="button" id="button" value="Nutrition Allocation" align="left" /></a></td>
    </tr>
  </table>
</form>
</body>
</html>
