<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="230" height="278" border="1">
    <tr>
      <tH width="220">AGANAVADI HOME</td>
    </tr>
    <tr>
      <td><a href="/enrollmother">Enroll mother</a>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/viewenrollmothers">view mother</a></td>
    </tr>
    <tr>
      <td><a href="/child">Enroll child</a>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/anguviewenrollchild">View child</a></td>
    </tr>

    <tr>
      <td><a href="/sendnote">Send notification</a></td>
    </tr>
    <tr>
      <td><a href="/viewnote">View Notification</a></td>
    </tr>
    
    <tr>
      <td><a href="/complt">Send Complaint</a></td>
    </tr>
      <tr>
      <td><a href="/replys">View Reply</a></td>
    </tr>
    <tr>
      <td><a href="/addstu">Add student </a>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/studview">View student </a></td>
    </tr>
     <tr>
        <td><center><a href="/login">logout</a></center></td>
    </tr>
  </table>
</form>
</body>
</html>
