{% extends "anganavadi/anganavadiindex.html" %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/nutritiongiven" onsubmit="return valid()">
  <table width="458" height="289" border="0">
    <tr>
      <tH colspan="2">NUTRITION ALLOCATION</td>
    </tr>
    <tr>
      <td width="74">Name</td>
      <td width="210"><select name="st" id="select" class="form-control" >
              <option id="select" value="select">select</option>

          {% for d in data %}
          <option value="{{ d[0] }}">{{ d[1] }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><input type="text" name="qt" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2"><center><input type="submit" name="button" id="button" value="Save" class="btn btn-success" /></center></td>
    </tr>
  </table>
</form>
</body>
</html>
    <script type="text/javascript" language="JavaScript">
      function  valid() {
          var flag=true;

    var x = document.getElementById("select").value;
    if(x=='select'){
        alert('choose the nutrition');
        flag=false;
    }


return flag;
      }
      </script>
{% endblock %}
