<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% extends "anganavadi/anganavadiindex.html" %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/remarksadds">
  <table width="488" height="302" border="0" >
    <tr>
      <tH colspan="2">REMARKS </td>
    </tr>
    <tr>
      <td width="124">Date</td>
      <td width="160"><input type="date" name="date" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Remarks</td>
      <td><textarea name="re" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><center><input type="submit" name="button" id="button" value="Save" class="btn btn-success" /></center></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
